package login


import "github.com/go-sonr/ui"
import "github.com/go-sonr/middleware/metadata"

templ LoginView() {
	@ui.HTML() {
		@ui.Head() {
			@metadata.DefaultMetaComponent()
		}
		@ui.Nav() {
			@ui.NavLeft() {
				@ui.NavLogo("Sonr") {
					<div style="font-size: 24px;">
						<sl-icon library="sonr" name="sonr"></sl-icon>
					</div>
				}
			}
			@ui.NavRight() {
			}
		}
		@ui.Body() {
		}
	}
}
